.create-user {
  background-color: #f0f2f5;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.create-user-form {
  padding: 0 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 432px;
  border-radius: 5px;
}

.create-user-form label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1rem;
}

.create-user-form input {
  font-size: 1rem;
  padding: 0.4rem;
  border: 1px solid #000;
  border-radius: 5px;
}

.btn-register {
  cursor: pointer;
  margin: 1rem 0;
  background-color: green;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
}
